body {
    font-family:  'Quicksand', sans-serif;
}

/* Index Select Languages */
.index-container h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}

.index-button a {
    font-size: 25px;
    text-decoration: none;
    color:white;
    background-color:black;
    padding:10px;
    border-radius:25px;
    transition: all 200ms ease-in-out;
    margin: 10px;
}

.index-button a:hover {
    background-color: white;
    color:black;
    cursor: pointer;
    border: 1px solid black;
}

/* Navigation Bar */

.log {
    max-width: 70px;
    border-radius: 50px;
}

nav {
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding:0;
}

nav li {
    display: inline;
    list-style: none;
    margin:0;
    padding:0;
    margin-left: 35px;
}

nav a {
    text-decoration: none;
    color:var(--btn-color);
    transition: all 200ms ease-in-out;
    font-size: 20px;
}

nav a:hover{
    color:#a2a0a2;
}

.resources {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    transition: all 200ms ease-in-out;
}

.resources:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border:1px solid black;
}

.active{
    font-weight: 700;
}

/* Header */

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./src/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

main h1 {
    font-weight: 500;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

main h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

main h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

main a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background:white;
    padding: 22px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color:#40323A;
    border-radius: 25px;
    transition: all 200ms ease-in-out;
}

main a:hover {
    background:#000000 ;
    color: white;
    cursor: pointer;
}

/* About me section */
.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.img-responsive {
    width: 100%;
    display: block;
    padding: 20px;
}

.about {
    background-color: #F6E8D4;
}

.about h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 50px;
}

.about p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #15131cdf;
}

/* Get to know me section */

.get-to-know {
    background-color: #1E1D1D;
}

.social-links a {
    margin:0 20px;
    color: #FAF2F2;
    background: var(--branding-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 200ms ease-in-out;
  
}



.social-links a:hover{
   background: #FAF2F2;
   color: #420516;
  
}


/* @media  (max-width:900px) {

    h1{
        font-size: 60px;
    }

    h2 {
        font-size: 35px;
    }

    nav a {
        font-size: 14px;
    }

}  */
