/* :root{
    --branding-color:#420516;
    --light-color:#FAF2F2;
    --text-color:#2b2b2b;
    --btn-color:#7D1935;
} */

body {
    font-family:  'Quicksand', sans-serif;
}


.index-container h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    /* color: var(--branding-color); */
}

/* .spanish {

} */

.index-button a {
    font-size: 25px;
    text-decoration: none;
    color:white;
    background-color:black;
    padding:10px;
    border-radius:25px;
    transition: all 200ms ease-in-out;
    margin: 10px;
}

.index-button a:hover {
    background-color: white;
    color:black;
    cursor: pointer;
    border: 1px solid black;
}

/* h2 {
    font-size: 40px;
    color:var(--text-color);
    text-align: center;
} */

/* h3 {
    font-weight: 600;
} */

.log {
    max-width: 70px;
    border-radius: 50px;
}

/* .logo {
    border-radius: 50px;
} */

nav {
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding:0;
}

nav li {
    display: inline;
    list-style: none;
    margin:0;
    padding:0;
    margin-left: 35px;
}

nav a {
    text-decoration: none;
    color:var(--btn-color);
    transition: all 200ms ease-in-out;
    font-size: 20px;
}

nav a:hover{
    color:#a2a0a2;
}

.resources {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    transition: all 200ms ease-in-out;
}

.resources:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border:1px solid black;
}

.active{
    font-weight: 700;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./src/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

main h1 {
    font-weight: 500;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

main h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

main h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

main a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background:white;
    padding: 22px;
    margin-top: 32px;
    display: inline-block;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color:#40323A;
    border-radius: 25px;
    transition: all 200ms ease-in-out;
}

main a:hover {
    background:#000000 ;
    color: white;
    cursor: pointer;
}

.about {
    background-color: white;
}

.about h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 5px;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;
}

.about h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
}

.about h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #272044;
    margin: 0;
}

.about h5 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    color: #272044;
}

.about p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #15131cdf;
}

/* .greeting {
    text-align: center;
    background:linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(248, 240, 240) 92%);
    padding: 150px 30px;
   
}

.greeting p {
    font-size: 35px;
    margin:0;
    color:var(--text-color)
}

.btn-branding {
    background-color:var(--branding-color);
    color:var(--light-color);
    border-radius: 50px;
    font-size:25px;
    padding: 10px 20px;
    transition: all 200ms ease-in-out;
}

.btn-branding:hover {
    background-color:var(--btn-color);
    color:var(--light-color);
    cursor: pointer;
    border: 0.5px solid #b3b3b3;
}


.check-out{ 
    font-size: 35px;
    color:var(--text-color);
}

.project-description {
    font-size: 20px;
}

.profile-pic {
    border-radius: 10px;
}

.resume-link {
    font-size: 20px;
    text-decoration: none;
    color: #420516;
    transition: all 200ms ease-in-out;
}

.resume-link:hover {
    color: #cda5b0;
    cursor: pointer;
}

.button {
    text-align: center; 
    margin-bottom: 5px;
}

.btn-branding-outline {
    background-color:var(--btn-color);
    color:var(--light-color);
    border-radius: 50px;
    font-size:22px;
    padding: 10px 20px;
    transition: all 200ms ease-in-out;
}

.btn-branding-outline:hover {
    background-color:#B42B51 ;
    border:0.5px solid #B42B51;
    color:var(--light-color) ;
    cursor: pointer;
}

.women {
    border-radius: 10px;
    height: 200;
    box-shadow: 9px 6px 22px 1px rgba(0, 0, 0, 0.2);

}

.weather {
    border-radius: 10px;
    height: 200;
    box-shadow: 9px 6px 22px 1px rgba(0, 0, 0, 0.2);

}

#astronomy {
    border-radius: 10px;
    width: 100;
    box-shadow: 9px 6px 22px 1px rgba(0, 0, 0, 0.2);
}

.project{
    padding: 120px 60px;
}

.content {
    padding: 100px 20px;
}

.content p {
    font-size: 20px;
}

.about-me {
    font-size: 60px;
    text-align: center;
}

.about-section img {
    border-radius: 4px;
    box-shadow: 4px 9px 14px 1px rgba(0, 0, 0, 0.2);
}


.project-link {
    color:var(--btn-color);
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.project-link:hover{
    color:#FBD6D2;
}

.tech-section {
    background-color: #f9f2f4;
}

.grid {
    display: grid;
    grid-gap: 28px;
}

.grid-4-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }


footer {
    margin:60px 0;
}

footer .contact-box {
   background: #FAF2F2; 
   padding: 30px 120px;
   border-radius: 10px;
}

footer .contact-box p {
    margin: 0 auto;
}

footer .email-link {
text-decoration: none;
color:black;
font-size: 24px;
text-align: center;
}

footer .email-link:hover{
    color:var(--btn-color);
}

footer .social-links a {
    margin:0 20px;
    color: #FAF2F2;
    background: var(--branding-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 200ms ease-in-out;
  
}



footer .social-links a:hover{
   background: #FAF2F2;
   color: #420516;
  
}


@media  (max-width:900px) {

    h1{
        font-size: 60px;
    }

    h2 {
        font-size: 35px;
    }

    .hero {
        padding: 80px 20px;
    }

    .project {
        padding:0;
        text-align: center;
    }

    .about-section {
        text-align: center;
        padding:0;
    }

    nav a {
        font-size: 14px;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 32px;
      }

      .hide {
        visibility: hidden;
      }

} */
